@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
    box-sizing: border-box;
}

body {
    background-color: #FCFAFC;
    color: #A31ACB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greetings {
    text-align: center;
}

.greetings img {
    width: 50%;
}

.description {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover {
    transform: scale(1.2);
    background-color: pink;
    transition: .3s;
}

button a {
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px) {
    .container {
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .greetings div:nth-child(1) {
        margin-bottom: -20px;
    }

    .description {
        font-size: 1rem;
    }

    .button a {
        font-size: .5rem;
    }
}